.nav__list {
	display: flex;
	gap: 50px;
	/* flex-wrap: wrap; */
}
/* .nav__list > * {
	flex: 1 1 10ch;
} */

.nav__link {
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.04em;
	color: var(--second-color);
	position: relative;
}

.nav__link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--main-bg-color);
	transition-duration: 0.4s;
	transition-property: transform;
	transform: scaleX(0);
}

.nav__link:hover:before {
	transform: scaleX(1);
}

.nav__link:active {
	color: var(--main-bg-color);
}

@media (max-width: 1440px) {
	.nav__list {
		gap: 20px;
	}
	.nav__link {
		font-size: 16px;
	}
}

@media (max-width: 1000px) {
	.nav {
		display: none;
	}

	.nav_active {
		display: block;
	}
}
@media (max-width: 760px) {
}
@media (max-width: 580px) {
}
